 @font-face {
    font-family: 'FontAwesome'; /* Имя шрифта */
    src: url('../font/fontawesome-webfont.ttf'); /* Путь к файлу со шрифтом */
}

body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
a:hover, a:focus{
	text-decoration: none;
}
ul{
	margin: 0px;
}
li{
	display: inline-block;
}
							/*I N F O - H E D E R*/
.info-header{
	background: #1c2931;
	text-align: right;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	padding: 20px 15px;
}
	.info-header span{
		margin: 0px 7.5px;
	}
		.info-header a{
			color: #fff;
		}
		.info-header i{
			font-size: 16px;
			margin-right: 10px;
		}
							/*H E A D E R*/
header{
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 5px 3px;
	z-index: 1;
}
nav{
	display: flex;
	align-items: center;
	padding: 15px 0px;
}
		nav ul li a{
			font-size: 13px;
			font-weight: 700;
			color: #555555;
			text-transform: uppercase;
			padding: 10px!important;
			margin-left: 20px;
			border-radius: 0px!important;
			border-bottom: 3px solid #3e495000;
			transition: all .3s ease-out;
		}
		nav ul li a:hover{
			background: #fff!important;
			border-bottom: 3px solid #3e4950;
		}
		nav ul li > ul{
			display: none;
		}
							/*S L I D E R*/
.slider div{
	height: 500px;
	overflow: hidden;
}
	.slider img{
	    position: absolute;
	    top: 50%;
		width: 100%;
	    transform: translateY(-50%);
	}
		.slick-prev{
			left: 0;
			background: url(../img/prev.png) center center no-repeat rgba(0, 0, 0, 0.5);
			height: 65px;
			width: 30px;
			transition: all .3s;
			z-index: 9999;
		}
		.slick-prev:hover, .slick-prev:focus{
			width: 50px;
			background: url(../img/prev.png) center center no-repeat rgba(0, 0, 0, 1);
		}
		.slick-next{
			right: 0;
			background: url(../img/next.png) center center no-repeat rgba(0, 0, 0, 0.5);
			height: 65px;
			width: 30px;
			transition: all .3s;
			z-index: 9999;
		}
		.slick-next:hover, .slick-next:focus{
			width: 50px;
			background: url(../img/next.png) center center no-repeat rgba(0, 0, 0, 1);
		}
		.slick-prev:before, .slick-next:before{
			font-size: 0px;
		}
							/*R E Q U E S T*/
.request{
	position: relative;
    max-width: 840px;
    width: 100%;
    background-color: #333b45;
    margin: auto;
    color: #fff;
    text-align: center;
    padding: 30px 30px 35px 30px;
    margin-top: -155px;
    box-shadow: 0 3px 11px 0px rgba(0, 0, 0, 0.7);
    z-index: 1;
}
	.request-title{
		display: inline-block;
	    z-index: 9;
	    background-color: #333b45;
	    padding: 0 30px;
	}
		.request-title h2{
			margin: 0;
		}
	.request form{
		display: flex;
    	justify-content: space-between;
	    padding: 75px 30px 40px;
	    border: 1px solid #fff;
    	margin: -35px 0px 0px;
	}
		.request form div{
			width: 100%;
			padding: 0px 5px;
		}
			.request input{
				width: 100%;
				height: 45px;
				background-color: transparent;
			    padding: 0px 20px;
			    border: 1px solid #fff;
			    transition: all .5s ease;
			}
			.request button{
				width: 100%;
				height: 45px;
				background: #76ceff;
				color: #fff;
				border: none;
			}
							/*S E C T I O N - C A R*/
.section-car{
	padding: 70px 15px;
}
	.car-img{
		position: relative;
		display: block;
		padding: 15px 0px;
	}
	.car-img:after{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		display: block;
		background: rgba(0, 0, 0, 0);
		transition: all .3s;
	}
	.car-img:hover:after{
		background: rgba(0, 0, 0, 0.4);
	}
		.car-img img{
			width: 100%;
		}
	.section-car h3{
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		padding-left: 15px;
		border-left: 4px solid;
	}
	.section-car p{
   		color: #666666;
		font-size: 13px;
		padding-top: 30px;
	    padding-bottom: 40px;
    	margin-top: 30px;
		border-top: 1px solid #eee;
	}
	.car-btn{
		position: relative;
		display: inline-block;
	    text-decoration: none;
	    color: #fff;
	    font-family: 'Open Sans Condensed', sans-serif;
	    font-weight: 600;
	    font-size: 10px;
	    line-height: 30px;
	    padding: 0 40px 0 20px;
	    text-transform: uppercase;
	    letter-spacing: 0;
	    background: #1c2931;
	    position: relative;
	    overflow: hidden;
	}
	.car-btn:hover{
		color: #fff;
	}
	.car-btn:after{
		content: "\f105";
	    font-family: 'FontAwesome';
	    display: inline-block;
	    position: absolute;
	    right: 0;
	    top: 0;
	    font-size: 14px;
	    color: #fff;
	    width: 30px;
	    text-align: center;
	}
	.car-btn:before {
	    content: '';
	    display: block;
	    width: 40px;
	    height: 40px;
	    background: #76ceff;
	    position: absolute;
	    right: -10px;
	    top: 0;
	    transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    -webkit-transform: skewX(-25deg);
	    -ms-transform: skewX(-25deg);
	    transform: skewX(-25deg);
	}
	.car-btn:hover:before{
		background: #1c2931;
	}
							/*W E L C O M E*/
.section-welcome{
	background-image: url('../img/slid-img1.jpg');
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	padding: 70px 15px 150px 15px;
}
	.section-welcome img{
		margin-bottom: 30px;
	}
	.section-welcome h3{
		position: relative;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 14px;
		font-weight: 700;
	    letter-spacing: 2px;
		padding-bottom: 20px;
		margin-top: 0px;
		margin-bottom: 30px;
	}
	.section-welcome h3:after{
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		display: block;
		height: 4px;
		width: 60px;
		background: #fff;
		transform: translateX(-50%);
	}
	.welcome-left{
		text-align: right;
		border-right: 1px solid;
	}
	.welcome-left p{
		font-size: 17px;
		margin: 0px;
	}
	.welcome-right{
		text-align: left;
	}
	.welcome-right p{
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
	}
		.welcome-left p span,
		.welcome-right p span{
			color: #76ceff;
		}
							/*I N F O*/
.section-info{
	position: relative;
	background-image: url('../img/shadow1.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 16px;
}
	.section-info .container-fluid{
	    background: #f6f8fa;
	    padding: 40px 15px;
	}
		.info-items{
			display: flex;
			align-items: start;
			justify-content: center;
			padding: 25px 15px;
		}
		.info-items-br{
			border-right: 1px solid;
		}
			.info-items ul{
				display: inline-block;
				padding: 0px;
				margin-left: 10px;
			}
				.info-items li{
					display: block;
					text-align: left;
				}
					.info-items span{
						font-family: 'Open Sans Condensed', sans-serif;
						font-size: 30px;
						font-weight: 700;
					}
					.info-items p{
						font-size: 12px;
    					color: #727272;
						margin: 0px;
					}
							/*C A R S*/
.cars-infoslider h2{
	display: inline-block;
	font-size: 40px;
	font-weight: 700;
	margin: 0px;
}
.cars-infoslider span{
    position: relative;
    display: inline-block;
	background: #373935;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 20px;
    margin-left: 15px;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: -.045em;
    transform: translateY(-10px);
}
.cars-infoslider span:before{
	position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 14px 9px 0;
    border-color: transparent #373935 transparent transparent;
    left: -14px;
    top: calc(50% - 9px);
}
.cars-infoslider p{
	font-size: 18px;
	font-weight: 700;
}
.cars-slider img{
	margin: auto;
}
.container-cars{
	padding: 70px 15px;
}
	.infobar-price{
		display: inline-block;
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	.cars-infobar h4{
		font-weight: 600;
	}
	.cars-infobar ul{
	    display: flex;
	    flex-wrap: wrap;
		background: #eee;
	    font-size: 12px;
	    padding: 0px;
	    border: 3px solid #76ceff;
	}
		.cars-infobar li{
		    display: flex;
		    align-items: center;
		    width: 50%;
	    	padding: 15px;
		}
			.cars-infobar li img{
				margin-right: 10px;
			}
	.cars-infobar button{
		width: 100%;
		height: 45px;
	    font-size: 18px;
    	font-weight: 600;
		background: #76ceff;
		color: #fff;
		border: none;
	}
							/*C A R S - T A B S*/
.tabs-navigation{
	padding: 0px;
}
	.tabs-navigation li{
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		border-bottom: 2px solid #fff;
		padding: 5px 10px;
	}
	.tabs-navigation li:hover{
		border-bottom: 2px solid #3e4950;
		cursor: pointer;
	}
.tabs-group{
    position: relative;
    background-image: url(../img/shadow1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 16px;
}
.tabs-item{
	display: flex;
	flex-direction: column;
	border: 1px solid #eee;
	padding: 20px;
}
	.tabs-item div{
	    margin-bottom: 10px;
	    padding-bottom: 10px;
	}
	.tabs-item div span{
		display: block;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		border-left: 4px solid #3e4950;
	    border-bottom: 1px solid #eee;
		padding-left: 10px;
		margin: 10px 0px;
	}
	.tabs-item div ul{
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
	}
		.tabs-item div li{
			width: 50%;
		}
			.tabs-item div i{
				margin-right: 15px;
			}
			.slick-track {
			    float: left;
			}
			.slider-nav img{
				width: 100%;
			}
					.slider-nav .slick-prev,
					.slider-nav .slick-next{
						height: 100%;
					}

							/*C H A R A C T E R I S T I C S*/
.carsinfo-characteristics{
    background: #f7f7f7;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 70px 15px;
}
.tabs-item{
	display: none;
}
.characteristics-tabs h4{
	font-weight: 600;
}
.characteristics-categories{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
	.characteristics-tabs span{
		width: 100%;
		background: #333;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
		padding: 5px 15px;
		margin: 0px;
	}
	.characteristics-tabs ul{
		width: 100%;
		padding: 0px;
	}
		.characteristics-tabs li{
			display: flex;
			width: 100%;
			padding: 5px 15px;
			background: #76ceff73;
			font-size: 12px;
			font-weight: 600;
		}
		.characteristics-tabs li:hover{
			background: #fff!important;
		}
			.characteristics-tabs li div{
				width: 50%;
			}




							/*H I S T O R Y*/
.container-history{
	background-image: url('../img/ravon1.png');
    background-repeat: no-repeat;
    background-position: center;
	padding: 25px 15px 70px;
}
	.container-history h2{
	    border-left: 4px solid #333;
	    border-bottom: 1px solid #eee;
	    padding-left: 10px;
	    margin-bottom: 30px;
	}
	.container-history p{
		margin-bottom: 30px;
	}
	.history-text-bold{
		font-weight: 700;
	}
							/*C O N T A C T S*/
.container-contacts{
	background: #f7f7f7;
	padding: 70px 15px;
}
	.container-contacts .row{
		display: flex;
	}
		.container-contacts h2{
			padding-bottom: 20px;
			margin-top: 0px;
			border-bottom: 1px solid #e0e0e8;
		}
		.container-contacts ul{
			display: flex;
			flex-direction: column;
			font-size: 14px;
			padding: 0px;
		}
			.container-contacts li{
				display: flex;
				margin-bottom: 30px;
			}
				.container-contacts i{
					font-size: 24px;
					margin-right: 15px;
				}
							/*F O O T E R - T O P*/
.footer-top{
	background: #333;
	padding: 50px 15px;
	font-size: 12px;
	color: #fff;
	margin-top: -16px;
}
	.footer-top a{
		color: #999;
	}
	.footer-top .row{
		display: flex;
	}
		.footer-top ul{
		    display: inline-block;
			padding: 0px;
		}
			.footer-top li{
				display: block;
			}
				.footer-top h3{
					position: relative;
					display: inline-block;
					line-height: 1.2;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 700;
					padding: 0px 15px;
					margin-bottom: 25px;
				}
				.footer-top h3:before{
					content: '';
				    display: block;
				    width: 3px;
				    height: 100%;
				    background: #cccccc;
				    position: absolute;
				    left: 0;
				    top: 0;
				}
				.footer-top h3:after{
					content: '';
				    display: block;
				    width: 3px;
				    height: 100%;
				    background: #cccccc;
				    position: absolute;
				    right: 0;
				    top: 0;
				}
		.footer-news a{
			display: block;
			float: left;
			margin-bottom: 15px;
		}
			.footer-news img{
				float: left;
				margin-right: 15px;
			}
			.footer-news h5{
				margin: 0px 0px 10px;
			}
		.footer-nav{
		    text-transform: uppercase;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		}
			.footer-nav li{
				margin-bottom: 7px;
			}
		.footer-car{
		    text-transform: uppercase;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		}
			.footer-car li{
				margin-bottom: 7px;
			}
		.footer-contacts{
			background-image: url('../img/map.png');
			background-size: auto;
			background-repeat: no-repeat;
			background-position: center;
		}
			.footer-contacts-addres{
				margin-bottom: 50px!important;
			}
			.footer-contacts div{
				display: flex;
				color: #999;
				margin-bottom: 7px;
			}
				.footer-contacts span{
					display: inline-block;
				}
				.footer-contacts div i{
					font-size: 16px;
					margin-right: 10px;
				}
							/*F O O T E R - B O T T O M*/
footer{
	background: #222;
	color: #999;
	padding: 30px 15px;
}
	footer .row{
		display: flex;
		align-items: center;
	}
		.footer-bottom-left span{
			font-size: 12px;
			margin-left: 15px;
		}
		.footer-bottom-right{
			font-size: 22px;
			text-align: right;
		}
			.footer-bottom-right a{
				color: #999;
				margin-left: 15px;
			}







							/*A C T I V E - M A R K E R*/

.active{
	border-bottom: 3px solid #3e4950;
}
.active-block{
	display: block;
}
.active-tabs-navigation{
	border-color: #3e4950;
}
.tabs-marker{
	background: #76ceff42!important;
}